body {
    background: linear-gradient(90deg, #1c2530 0%, #0e161d 100%);
    font-family: 'Open Sans', sans-serif;
}

h1, h2, h3, h4, h5, h6, p, pre, blockquote, form, div, label{
    margin: 0px;
    padding: 0px;
   
}

.nav-bar {
    padding-top: 5em;
}

.navbar-ant {
    color: #0279e9;
}

.main-container {
    padding: 6em 0em;
    
    
}

/********* DETAIL VIEW *********/

.detail-img {
    border: #ffffff15 .1em solid;
    margin: 3.5em auto 1.5em auto;
    -webkit-box-shadow: 6px 7px 12px -6px rgba(0,0,0,0.75);
    box-shadow: 6px 7px 12px -6px rgba(0,0,0,0.75);
}

.detail-header {
    text-align: center;
    color: white;
    padding: .3em 0em;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
}

.detail-date {
    text-align: center;
    padding: 0em 0em 2em 0em;
    color: white;
    font-weight: 100;
    font-family: 'Open Sans', sans-serif;
}

.detail-container{
    /* border: #bfbfbf43 .1em solid; */
    background: linear-gradient(90deg, #1f2d3b 0%, #081623 100%);
    -webkit-box-shadow: 6px 7px 12px -6px rgba(0,0,0,0.75);
    box-shadow: 6px 7px 12px -6px rgba(0,0,0,0.75);
    padding: 1em 2em 3.5em 2em;
    color: white;
    
}


.detail-content h1, .detail-content h2, .detail-content h3, .detail-content h4, .detail-content h5, .detail-content h6, .detail-content p{
    color: white;
}

.detail-content  {
    padding: 1.3em;
    margin-top: .5em;
    background-color: #16171875;
    border-radius: .3em;
}

.btn-update {
    background: linear-gradient(90deg, #1f2d3b 0%, #081623 100%);
    border: #bfbfbf43 .1em solid;
    color: aliceblue;
    float: left;
    width: 8em;
    height: 2.6em;
    font-weight: 700;
}

.btn-modal1 {
    background: linear-gradient(90deg, #1f2d3b 0%, #081623 100%);
    border: #bfbfbf43 .1em solid;
    color: aliceblue;
    height: 2.6em;
    font-weight: 700;
}

.btn-modal2 {
    background: white;
    border: #bfbfbf43 .1em solid;
    color: #081623;
    height: 2.6em;
    font-weight: 700;
}

.like-icon {
 font-size: .9em;
}

.btn-agree {
    display: flex;
    justify-content: center;
    text-align: center;
    background: linear-gradient(230deg, #4c95df 0%, #0279e9 100%);
    border: #ddd4d423 .1em solid;
    color: aliceblue;
    float: right;
    width: 6em;
    height: 2.6em;
    font-weight: 700;
}

/************ LIST VIEW ************/


.list-block {
    margin: 2em 0em;
}

.block-title {
    margin: 1em 0em 1em 0em;
    color: white;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    font-size: 2.5em;
    text-align: center;
    padding: .7em 0em;
    background: linear-gradient(90deg, #1f2d3b 0%, #081623 100%);
    -webkit-box-shadow: 6px 7px 5px -7px rgba(0,0,0,0.75);

}

.block-header {
    color: white;
    background: linear-gradient(90deg, #1f2d3b 0%, #081623 100%);
    border-radius: .2em;
    padding: .1em .6em;
    -webkit-box-shadow: 6px 7px 5px -7px rgba(0,0,0,0.75);
    font-size: 1.5em;
}

.block-desc {
    margin-top: .5em;
    color: #b6b6b6;
    background-color: #252b3175;
    padding: .3em .6em .3em 1.2em;
    border-radius: .3em;
    -webkit-box-shadow: 6px 7px 5px -10px rgba(0,0,0,0.75);
}

.icon-text {
    color: white;
}

/************ CREATE VIEW ************/

.create-title {
    margin-bottom: .7em;
    color: white;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    font-size: 2em;
    text-align: center;
}

.create-label {
    font-weight: 100;
}

.btn-create {
    background: linear-gradient(180deg, #1f2d3b 0%, #081623 100%);
    border: #bfbfbf43 .1em solid;
    color: aliceblue;
    float: left;
    height: 2.6em;
    font-weight: 700;
}

.create-markdown {
    color: #0e161d;
}

/************ LOGIN & REG VIEW ************/


.join {
    background: linear-gradient(280deg, #1f2d3b 0%, #081623 100%);
    margin-top: 6em;
    -webkit-box-shadow: 6px 7px 12px -6px rgba(0,0,0,0.75);
    box-shadow: 6px 7px 12px -6px rgba(0,0,0,0.75);
}


/************ MARK DOWN RENDERERS ************/

.code-blocks {
    border: #2c2b2b86 .1em solid;
    color: aliceblue;
    background-color: #181a1c;
    margin: .3em 0em;
    padding: .5em;
    border-radius: .3em;
}

.block-quote {
    color: #010b15c5;
}
